:root {
  --white-smoke: #f3f2f2;
  --black: #1b1c1b;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}
* {
  outline: none;
}
body {
  margin: 0;
  background: rgb(15, 182, 159);
  background: linear-gradient(
    90deg,
    rgba(15, 182, 159, 1) 3%,
    rgba(105, 9, 121, 1) 35%,
    rgba(25, 0, 255, 1) 100%
  );
  background-size: cover;
  overflow-x: hidden; /* Tambahkan baris ini */
}
.body {
  font-family: Karla, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}
.cursor {
  cursor: url("https://assets-global.website-files.com/5a63750443f71000016b3013/5a63974b4af5970001a82e02_down-cursor.svg"),
    default;
}
.hero_title {
  font-size: 4em;
  /* font-size: 20px; */
}
.hero_desc {
  font-size: 2rem;
  /* font-size: 3em; */
}
.nav-white {
  z-index: 1000;
  text-decoration: none;
  color: var(--white-smoke);
  transition: border-bottom 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 12px;
  left: 500px;
  right: auto;
  bottom: 5px;
}
.nav-white a {
  text-decoration: none; /* Tambahkan baris ini */
  color: inherit; /* Opsional: menetapkan warna teks menjadi warna warisan */
}

.casing {
  z-index: 999;
  height: 50px;
  width: 400px;
  border-radius: 20px 20px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.nav-text {
  margin: 0 40px;
}
.nav-text:hover {
  border-bottom: 2px solid white;
  transition: border-bottom 0.1s;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  padding-left: 15px;
}
